{{ define "home" }}
{{ template "head" . }}
  <h1 class='center'>{{ .Title }}</h1>
  <form id='form' action='/' method='POST'>

    <label for='SiteURL'>URL</label>
    <input id='siteurl' type='text' name='SiteURL' required>

    <label for='Keywords'>Keywords</label>
    <input id='keywords' type='text' name='Keywords' required>

    <label for='Email'>Your Email</label>
    <input id='email' type='email' name='Email' required>

    <input id='submit' type='submit' value='Go'>
  </form>
{{ template "foot" }}
{{ end }}